@font-face {
    font-family: 'Novacento Sans Wide';
    src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot");
    src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff2") format("woff2"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-UltraLight-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-UltraLight-webfont.svg#novecento_sans_wideultralight") format("svg");
    font-style: normal;
    font-weight: 200;
}
h2 {
    font-family: "Novacento Sans Wide";
    text-transform: uppercase;
    background: #008ae8;
    font-weight: 200;
    color: #ffffff;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #66b9f1;
    text-align: center;
}
p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Inter";
    color: #d0d7dd;
}

h3 {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: #bdbdbe;
}
a {
    font-family: "Inter";
    color: #008ae8;
    text-align: center;    
}
a:hover {
font-family: "Inter";
color: #66b9f1;
}
.wrapper {
    display: inline-block;
    border: 1px solid #d0d7dd;
    border-radius: 5px;
    margin: 2px;        
    background: #252c31;

}
img {
display: block;
margin-left: 30%;
padding-bottom: 20px;
}    